*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.navbar{
display: flex;
justify-content: space-between;
padding: 15px;
position: fixed;
top: 0px;
width: 100vw;
background-color: rgb(45, 88, 41);
box-shadow: 3px 2px 3px rgb(89, 61, 46);
}
.logo{
    width: 60px;
    height: 60px;
}
ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 400px;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  
  li a {
    
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: rgb(8, 7, 12);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }

.login{
    cursor: pointer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    color: white;
    background-color: #27341C;
    border: 5px solid rgb(45, 88, 41);
    font-size: 15px;   
    text-decoration: none;
    border-radius: 15px;
}
.cadastro{ 
    cursor: pointer;
    display: inline-block; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    color: white;
    background-color: #27341C;
    border: 5px solid rgb(45, 88, 41);
    font-size: 15px;
    text-decoration: none;
    border-radius: 15px;
}
.site{
    background-color: antiquewhite;
}
.imgsobre{   
    margin-left: 25px;
    margin-top: 120px;
    width: 500px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 3px 2px 3px rgb(89, 61, 46);
}
.sobre-comp{
    float: right;
    padding: 10px;
    width: 350px;
    margin-top: 200px;
    margin-right: 300px;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(117, 23, 23);
   border-radius: 5px;
   box-shadow: 3px 2px 3px rgb(89, 61, 46);
   color: rgba(255, 255, 255, 0.719);
}
.imgrestaurante1{
    margin-left: 790px;
    width: 500px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 3px 2px 3px rgb(89, 61, 46);
}
.imgrestaurante2{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    width: 500px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 3px 2px 3px rgb(89, 61, 46);
}
.contatoloc{
    margin-top: -300px;
    margin-inline: 250px;
    float: left;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(45, 88, 41); 
   border-radius: 5px;
   box-shadow: 3px 2px 3px rgb(89, 61, 46);
}