*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
display: flex;
justify-content: space-between;
padding: 15px;
position: fixed;
top: 0px;
width: 100vw;
background-color: rgb(152, 55, 27);
box-shadow: 3px 2px 3px rgb(89, 61, 46);
}
.logo{
    width: 60px;
    height: 60px;
}
ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 350px;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  
  li a {
    
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: rgb(8, 7, 12);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
.nome{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 14px;
    font-size: 25px;
    margin-right: 250px;
}
.login{
    cursor: pointer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    color: white;
    background-color: #27341C;
    border: 5px solid rgb(152, 55, 27);
    font-size: 15px;   
    text-decoration: none;
    border-radius: 15px;
}
.cadastro{ 
    cursor: pointer;
    display: inline-block; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    color: white;
    background-color: #27341C;
    border: 5px solid rgb(152, 55, 27);
    font-size: 15px;
    text-decoration: none;
    border-radius: 15px;
}
.site{
    background-color: antiquewhite;
}
.imgsobre{
    margin-left: 25px;
    margin-top: 120px;
    width: 500px;
    justify-content: space-between;
    border-radius: 20px;
}
.sobre-comp{
    display: table-cell;
    float: right;
    width: 350px;
    margin-top: 200px;
    margin-right: 160px;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(152, 55, 27);
   border-radius: 5px;
}